.row-fluid.margint20
  .col-md-8.col-md-offset-2
    %h1 BlackBit FAQ
    %p.margint25 BlackBit is a service which accepts Blackcoin payment for Bitcoin transactions. Allowing you to pay any companies that accept Bitcoin quickly using your Blackcoins. Remember to include the 0.0002 mining fee required when sending bitcoins to the expected total.
    %p.margint25 Blackbit is in beta and currently only allows bitcoin transfers up to 1 bitcoin, with a small #{Site.settings.margin} percent fee that covers mining fees the trade costs.
    %p.margint25 After submitting the destination bitcoin address and the desired amount to send, you have #{Site.settings.minutes_to_complete} minutes to complete the transaction.
    
    %p These features can be built into any application, and are considering issuing a custom fork of the blackcoin wallet that allows seemless access to our service.
    
    %p We created this as a novelty project, it was simple to contruct and we put it together in a night of hacking. This will be among the first of many services produced by Blackwave Labs for blackcoin. Our next projects will be much more ambitious and complex.

    %h2 What is the point?
    %p Blackbit allows you to convert your blackcoins into bitcoins in one step to make it easier to make purchases with your blackcoins.
    %p Previously you would have to move the coins to an exchange, sell them for bitcoins and finallly move those bitcoins to to their final destination.

    %h2 Is this a copy-cat of Veribit?
    %p No, this is a vast improvement over the original closed source software. Blackbit will be released open source, liberating the idea and making it available to the overall crypto community.
    %p The original was a flimsy hastily written closed source software that ran on windows. We built a version using an open source stack, made it vastly more secure, improved the API, added a refund feature when trades fail and will release it open source for any crypto currency to use.

    %h2 What happens if I send too little or after the deadline?
    
    %p It will automatically be detected, if you return to your trade page you will find a field to supply a blackcoin refund address. These refunds will be processed automatically. 

    %h2 Can you build this directly into the wallet?
    
    %p We are considering providing a special fork fo the blackcoin wallet that has this feature built in. 

    %h2 Having issues?
    
    %p This software while tested is still in beta, if you run into any issues please email us using the envelope icon below. We will be happy to assist you with any problems you have. 
